.contact {
   padding: 125px 10px;
   background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.65)), url(assets/nightsky.jpg) fixed;
   background-size: cover;

   h5 {
      color: $color__text-main;
   }
}

.contactText2 {
   text-align: center;
}

.formFlex {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}