.history {
   padding: 125px 10px;
   background: linear-gradient(to right, rgba(0, 0, 0, 0.507), rgba(0, 0, 0, 0.452)), url(../basicsasstheme/assets/pianoMusic.jpg);
   background-size: cover;
   background-attachment: fixed;
}

.historyText {

   h2 {
      text-align: center;
   }
}