.lns {
   padding: 125px 10px;
   background: black;
}

.lnsFlex {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

   .lnsImg {
      position: relative;
      display: inline-block;
      max-width: 500px;
      @include image-outline-left(0.5);
   }
   
   .lnsText {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      max-width: 500px;
      text-align: right;
      @include image-outline-right(0.5);
   }
}