.content-area {
}

.container {
   max-width: 1000px;
   margin: 0 auto;
}

.underline{
   border-bottom: 1px solid white;
   @include border-color(1);
   width: 100px;
}

.borderOne {
   border: 1px solid;
   border-radius: 5px;
   @include border-color(0.5);
   background: rgba(0, 0, 0, 0.95);
   padding: 40px;
}

.event, .contact, .history, .problematic, .sponsors, .ticket {
   min-height: 80vh;
}