.site-title {
   a {
      color: transparent;
   }
}

.container {
   max-width: 1000px;
   margin: 0 auto;
}

.underline{
   border-bottom: 1px solid white;
   @include border-color(1);
   width: 100px;
}

.borderOne {
   border: 1px solid;
   border-radius: 5px;
   @include border-color(0.5);
   background: rgba(14, 8, 3, 0.98);
   padding: 70px;
}

.lns, .event, .contact, .history, .problematic, .sponsors, .ticket {
   min-height: 80vh;
   padding: 125px 10px;
}

// #envirabox-overlay {
//    background-color: white !important;
// }