.sponsors {
   background: #1b0f07;;
   padding: 125px 10px;
   color: #5b3318;

   p {
      color: $color__link;
   }

   h3 {
      padding-bottom: 15px;
   }
}

.sponsorsBorder {
   @include image-outline-left(0.5);
}

.sponsorsFlex {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   @include image-outline-right(0.5);
}

.sponsorsTitle {
   text-align: center;
   padding-top: 35px;
}

.sponsorsWhite {
   background: white;
   border-radius: 3px;
   padding: 5px;

}

.sponsorsBox {
   display: flex;
   flex-direction: column;
   justify-content: center;

   p {
      text-align: center;
   }

   .ngg-galleryoverview {
      display: flex;
      flex-direction: column;
   }

}