.ticket {
   background: black;
   padding: 125px 10px;
}

.ticketFlex {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;


}

.ticketImg {
   max-width: 500px;
   @include image-outline-right(0.5);
}

.ticketText {
   max-width: 500px;
   @include image-outline-left(0.5);
}

