button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border-color: $color__link;
	border-radius: 3px;
	background: black;
	color: $color__link;
	@include font-size(0.75);
	line-height: 1;
   padding: .6em 1em .4em;
   transition: all 0.3s;

	&:hover {
      border-color: $color__link-hover;
      color: $color__link-hover;
	}

	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
